# General
.DS_Store
Thumbs.db
*~

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
venv/
.env
.env.*
!.env.example

# Web App
client/node_modules/
client/dist/
client/.eslintcache
server/node_modules/
server/dist/

